[FORMAT]
max-line-length=250
indent-string='  '
disable=C0116 # missing-module-docstring

[REPORTS]
reports=yes
evaluation=10 - ((float(5 * error + warning + refactor + convention) / statement) * 10)
