<!DOCTYPE html>
<html lang="pt-br">
<head>
  {% block head %}
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
    <title>{{ title }}</title>
  {% endblock %}
</head>
<body>
  <div id="app">
    {% block content %}{% endblock %}
  </div>
</body>

</html>
